<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Glossary </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-virtual-scroll [items]="words" [headerFn]="renderHeader">
    <ion-item-divider *virtualHeader="let header" color="secondary">
      <ion-label>{{ header }}</ion-label>
    </ion-item-divider>

    <ion-item *virtualItem="let item" (click)="onClickWord(item.id || 'mocked id')">
      <ion-label>
        <h3>{{ item.word }}</h3>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>

  <ion-infinite-scroll threshold="50px" (ionInfinite)="fetchWords($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
