<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-select [ngModel]="test" interface="popover">
        <ion-select-option value="hot" class="custom-opt">
          Hot
        </ion-select-option>
        <ion-select-option value="new">New</ion-select-option>
        <ion-select-option value="top">Top</ion-select-option>
        <ion-select-option value="rising">Rising</ion-select-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card
      *ngFor="let question of questions"
      button
      (click)="viewQuestion($event, question)"
    >
      <ion-card-header>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        <ion-card-title>{{ question.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ question.body }}</ion-card-content>
      <ion-item>
        <ion-label slot="start">
          <ion-icon
            [name]="question.votes > 0 ? 'arrow-up': 'arrow-down'"
          ></ion-icon
          >{{ question.votes }}</ion-label
        >

        <ion-label>{{ dummyDate | timeago }}</ion-label>
        <ion-avatar slot="end">
          <img
            [src]="question.user.avatar  || 'https://gravatar.com/avatar/dba6ba5_c566f943241fb9cd9ada7741?d=identicon&f=y'"
          />
        </ion-avatar>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor> -->
</ion-content>
