<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list mode="ios">
    <ion-list-header mode="md">{{ 'PREFERENCES' | translate }}</ion-list-header>
    <ion-item>
      <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
      <ion-select interface="popover" [(ngModel)]="selectedLang" (ionChange)="onSelectLanguage()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="ja">日本語 Nihongo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list-header mode="md">{{ 'USER_SETTINGS' | translate }}</ion-list-header>
    <ion-item button (click)="presentActionSheet()">
      <ion-label [translate]="'CHANGE_PHOTO'"></ion-label>
    </ion-item>
    <ion-item></ion-item>
    <ion-item button (click)="logout()">{{ 'LOGOUT' | translate }}</ion-item>
  </ion-list>
</ion-content>
